<% div_for forum_topic do %>
  <div class="title">
    <%= link_to forum_topic.title, current_user ? member_forum_topic_path(forum_topic) : forum_topic_path(forum_topic) %>
  </div>
  <div class="vspace">
    <%= forum_topic.forum_posts.count %> posts
  </div>
  <div class="clear">
    <% if forum_topic.user == current_user %>
      <div class="optionsBlock floatLeft vspace">
        <% if forum_topic.user == current_user %>
          <p class="redBlock floatLeft"><%= link_to_remote "edit", :url => "/member/forum_topics/edit/#{forum_topic.id}" %></p>
          <p class="blueBlock space floatLeft"><%= link_to_remote "delete", :url => member_forum_topic_path(forum_topic), :method => :delete, :confirm => "Are You Sure" %></p>
        <% end %>
      </div>
    <% end %>
    <div class="floatRight writer">
        <span class="lightGrey">created by</span> <%= link_to forum_topic.user.profile.full_name, profile_path(forum_topic.user.profile) %>
    </div>
  </div>  
  <hr />
<% end %>
